In [1]:
import pandas as pd 
import numpy as np

In [3]:
esg = pd.read_csv(r"C:\Users\Admin\Downloads\data (1).csv")
esg

,ticker,name,currency,exchange,industry,logo,weburl,environment_grade,environment_level,social_grade,...,governance_grade,governance_level,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/ef50b4a2b263c84...,https://thewaltdisneycompany.com/,A,High,BB,...,BB,Medium,510,316,321,1147,19-04-2022,BBB,High,1744489
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Automobiles,https://static.finnhub.io/logo/9253db78-80c9-1...,https://www.gm.com/,A,High,BB,...,B,Medium,510,303,255,1068,17-04-2022,BBB,High,1467858
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Trading Companies and Distributors,https://static.finnhub.io/logo/f153dcda-80eb-1...,https://www.grainger.com/,B,Medium,BB,...,B,Medium,255,385,240,880,19-04-2022,BB,Medium,277135
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,https://static.finnhub.io/logo/26868a62-80ec-1...,https://mohawkind.com/,A,High,B,...,BB,Medium,570,298,303,1171,18-04-2022,BBB,High,851968
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/1cd144d2-80ec-1...,https://www.livenationentertainment.com/,BBB,High,BB,...,B,Medium,492,310,250,1052,18-04-2022,BBB,High,1335258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,hi,Hillenbrand Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Machinery,https://static.finnhub.io/logo/f56bfd2c-80eb-1...,https://www.hillenbrand.com/,BBB,High,BB,...,BB,Medium,489,349,300,1138,07-11-2022,BBB,High,1417398
718,hhc,Howard Hughes Corp,USD,"NEW YORK STOCK EXCHANGE, INC.",Real Estate,https://static.finnhub.io/logo/6445e7f28561553...,https://www.howardhughes.com/,A,High,BB,...,BB,Medium,500,300,300,1100,07-11-2022,BBB,High,1498828
719,hubs,HubSpot Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Technology,https://static.finnhub.io/logo/62f8c2fa-80d0-1...,https://www.hubspot.com/,BBB,High,BB,...,BB,Medium,480,329,320,1129,07-11-2022,BBB,High,1404655
720,hesm,Hess Midstream LP,USD,"NEW YORK STOCK EXCHANGE, INC.",Energy,https://static.finnhub.io/logo/3a3f1306ad581fe...,https://www.hessmidstream.com/,BB,Medium,B,...,B,Medium,307,257,255,819,15-11-2022,BB,Medium,1789832
721,hei,HEICO Corp,USD,"NEW YORK STOCK EXCHANGE, INC.",Aerospace & Defense,https://static.finnhub.io/logo/f461d852-80eb-1...,https://www.heico.com/,B,Medium,B,...,B,Medium,225,203,205,633,07-11-2022,B,Medium,46619

In [4]:
esg = esg[['ticker','name','industry','total_score','total_level']]
esg

,ticker,name,industry,total_score,total_level
0,dis,Walt Disney Co,Media,1147,High
1,gm,General Motors Co,Automobiles,1068,High
2,gww,WW Grainger Inc,Trading Companies and Distributors,880,Medium
3,mhk,Mohawk Industries Inc,Consumer products,1171,High
4,lyv,Live Nation Entertainment Inc,Media,1052,High
...,...,...,...,...,...
717,hi,Hillenbrand Inc,Machinery,1138,High
718,hhc,Howard Hughes Corp,Real Estate,1100,High
719,hubs,HubSpot Inc,Technology,1129,High
720,hesm,Hess Midstream LP,Energy,819,Medium
721,hei,HEICO Corp,Aerospace & Defense,633,Medium

In [12]:
esg = esg.sort_values(by='total_score', ascending=False)
esg

,ticker,name,industry,total_score,total_level
452,cop,Conocophillips,Energy,1536,High
176,msft,Microsoft Corp,Technology,1533,High
302,eix,Edison International,Utilities,1528,High
18,abnb,Airbnb Inc,Hotels Restaurants and Leisure,1475,High
250,apd,Air Products and Chemicals Inc,Chemicals,1442,High
...,...,...,...,...,...
395,tel,TE Connectivity Ltd,Electrical Equipment,600,Medium
76,afaq,AF Acquisition Corp,NaN,600,Medium
396,tfx,Teleflex Inc,Health Care,600,Medium
303,glw,Corning Inc,Electrical Equipment,600,Medium
704,gva,Granite Construction Inc,Construction,600,Medium

In [62]:
esg.to_excel('esg/sorted_esg.xlsx', index=False)

In [63]:
high_tickers = ['cop', 'msft', 'eix', 'abnb', 'apd', 
            'amzn', 'nem', 'pep', 'exc', 'tt', 
            'pnw', 'sre', 'mpc', 'wec', 'hasi', 'ed', 
            'awk', 'etr', 'wy', 'reg', 'wm', 'bdx', 'lnc',
             'es', 'duk', 'pg', 'aph', 'nee', 'are', 'vrsk', 
             'trmb', 'gis', 'now', 'ctsh', 'lyb', 'pld', 'chd', 
             'oke', 'msci', 'rop', 'dhr', 'emn', 'mtrx', 'clx', 
             'ato', 'rtx', 'vlo', 'ecl', 'adm','tsn']

In [67]:
medium_tickers = [ 'cmcm', 'cdw', 'akba', 'hei', 'hbcp',
                   'uxin', 'prax', 'mar', 'xel', 'ual', 
                    'dow', 'wynn', 'aihs', 'xpev', 'avgo', 'adbe',
                    'cnne', 'xyf', 'cnf', 'agmh', 'low',
                     'airs', 'utrs', 'hsic', 'hcc', 
                    'plya', 'yrd', 'dpz', 'cbre', 'amd', 
                    'aacg', 'myps', 'afbi', 'abos', 'aadi',
                 'ko',  'zion', 'pola',  'tel', 
                   'tfx', 'glw', 'gva','ffiv','abvc','cvx','wu',
                   'mvbf','clwt','yumc','adus']

In [68]:
print(len(high_tickers))
len(medium_tickers)

50

50

In [28]:
sp500 = pd.read_csv(r"C:\Users\Admin\Downloads\S&P 500 Companies (Standard and Poor 500) - basics.csv")
sp500

    Symbol                           Name                  Sector
0      MMM                         3M Co.             Industrials
1      ACE                    ACE Limited              Financials
2      ABT            Abbott Laboratories             Health Care
3      ANF  Abercrombie & Fitch Company A  Consumer Discretionary
4      ACN                      Accenture  Information Technology
..     ...                            ...                     ...
495    XYL                     Xylem Inc.             Industrials
496   YHOO                     Yahoo Inc.  Information Technology
497    YUM                Yum! Brands Inc  Consumer Discretionary
498    ZMH                Zimmer Holdings             Health Care
499   ZION                  Zions Bancorp              Financials

[500 rows x 3 columns]

In [33]:
sp500['Symbol'] = sp500['Symbol'].str.lower()

In [39]:
non = sp500[sp500['Symbol'].isin(esg['ticker']) == False]
non.to_excel('non_esg.xlsx', index=False)

In [40]:
non['Sector'].value_counts()

Sector
Consumer Discretionary         41
Information Technology         30
Energy                         29
Financials                     27
Health Care                    24
Industrials                    22
Consumer Staples               18
Materials                      14
Utilities                       9
Telecommunications Services     6
Name: count, dtype: int64

In [73]:
non_tickers = ['esvif','fti','hcp',
               'pdco','mat','iff','px','saic',
               'slb','isrg','irm','jci','eqt',
               'dnb','ivz','unm','fls','kim',
               'trip','slm','se','anf','aa','ati',
               'aiv','an','beam','brk-b','blk','cb',
               'clf','cnx','dv','fhn','fslr','flr',
               'fosl','gme','gci','gnw','gt','hal',
               'hog','hp','itw','ice','igt','tap',
               'mur','rrc']

In [72]:
len(non_tickers)

50

In [60]:
print(high_tickers)

['cop', 'msft', 'eix', 'abnb', 'apd', 'amzn', 'nem', 'pep', 'exc', 'pxd', 'tt', 'pnw', 'sre', 'mpc', 'wec', 'hasi', 'ed', 'awk', 'etr', 'wy', 'reg', 'wm', 'bdx', 'lnc', 'es', 'duk', 'pg', 'aph', 'nee', 'are', 'vrsk', 'trmb', 'gis', 'now', 'ctsh', 'lyb', 'pld', 'chd', 'oke', 'msci', 'rop', 'dhr', 'emn', 'mtrx', 'clx', 'ato', 'rtx', 'vlo', 'ecl', 'adm']

In [59]:
print(medium_tickers)

['akic', 'cmcm', 'cdw', 'akba', 'hei', 'hbcp', 'uxin', 'prax', 'mar', 'xel', 'ual', 'agle', 'dow', 'wynn', 'aihs', 'xpev', 'avgo', 'adbe', 'cnne', 'evk', 'xyf', 'cnf', 'agmh', 'low', 'utme', 'airs', 'utrs', 'hsic', 'hcc', 'plya', 'yrd', 'dpz', 'cbre', 'amd', 'aacg', 'myps', 'afbi', 'abos', 'aaci', 'aadi', 'ko', 'aese', 'zion', 'pola', 'xl', 'tel', 'afaq', 'tfx', 'glw', 'gva']